body {
    font-family: 'Arial', sans-serif;
    background-color: #f0f0f0;
}

.profile-container {
    background-color: #fff;
    max-width: 600px;
    margin: 20px auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    text-align: start;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.profile-image {
    max-width: 150px;
    border-radius: 50%;
}

.profile-details {
    margin-top: 20px;
}

.profile-details h2 {
    color: white;
    margin: 0;
    text-align: center
}

.profile-details p {
    color: white;
    margin: 10px 0;
}

.bio {
    font-style: italic;
}
.close-btn{
    font-size: 48px;
    align-self: end;
    width: 48px;
    background-color: transparent;
    border: none;
}
.close-btn a{
    text-decoration: none;
    color: black;
}